streamlit==1.29.0
pandas==1.5.3  # Downgrade untuk kompatibilitas
scikit-learn==1.2.2  # Versi yang lebih stabil
xgboost==1.7.6  # Versi sebelum 2.0.0
joblib==1.2.0  # Versi yang kompatibel
matplotlib==3.6.3  # Versi yang lebih stabil
seaborn==0.12.2
Pillow==9.5.0  # Versi yang lebih stabil
